.body{
    font-family: 'Times New Roman';
    background-color: #1B414B;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    font-size: 56px;
    margin-top: 50px;
    margin-bottom: 30px;
}
img{
    margin-left: 500px;
}
button{
    background-color: #4e8fa1;
    border: none;
    border-radius: 24px;
    padding: 20px 30px;
}
a{
    text-decoration: none;
    color: #fff;
}
.list-1{
    margin-left: 600px;
}
p{
    margin-left: 600px;
}
.list{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-top: 50px;
}