/* Основні налаштувння */
body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
/* Studio */
.logo{
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
background: #2E2F42;
text-transform: uppercase;
line-height: 1.17;
color:#4D5AE5;
}

.span{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color:#f4f4fd;
}
/* ОСНОВНА НАВІГАЦІЯ  */
.Body-Medium :hover :focus{
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
}
.Body-Medium{
   color: #404bbf;
}

.link-1 :hover :focus{
    color: #434455;
}

.link-1{
   color: #404bbf; 
}

/* ADDRESS */
.address{
    font-style: normal;
}
/* ГОЛОВНИЙ ЗАГОЛОВОК */
.header1 >h1{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
line-height: 60px;
letter-spacing: 0.02em;
text-align: center;
background-color: #2E2F42;
}
/* КНОПКА */
button :hover :focus{
color: #4D5AE5;
font-size: 16px;
box-shadow: 0px 4px 4px 0px #00000026;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
button{
    background-color: #404bbf;
}

.header3 > h3{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    background: rgba(244, 244, 253, 1);
}

.header2 > h2{
font-family: 'Roboto';
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
}

.header-2 > img{
background: rgba(255, 255, 255, 1);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio > img{
 width: 360px;
 height: 300px;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
background-color: #F4F4FD;
color: #2e2f42;
}
.img-portfolio > li{
    border: 1px solid rgba(231, 233, 252, 1)
}
.footer{
    line-height: 1.17;
    text-transform: uppercase;
    background: rgba(46, 47, 66, 1);
    color: #F4F4FD;
}
.par{
    line-height: 1.5;
}